{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Show us your image</legend>
                <div class="form-group">
                    {{ form.image.label(class="form-control-label") }}

                    {% if form.image.errors %}
                        {{ form.image(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.image.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.image(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.food.label(class="form-control-label") }}

                    {% if form.food.errors %}
                        {{ form.food(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.food.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.food(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    {% if pred %}
        <p>You entered: {{ input }}</p>
        {% for p in pred %}
            <p>Is it {{ p.Food }}?</p>
            <p>Here are some facts:</p>
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="#">{{ p.Food }}</a>
                  <small class="text-muted">{{ p.SubCategory }}</small>
                </div>
                <h2><a class="article-title" href="#">Calories: {{ p.Calories }}</a></h2>
                <p class="article-content">{{ p.Ingredients }}</p>
              </div>
            </article>
        {% endfor %}
        <hr>
        {% for a in actual %}
            <p>In case we got it wrong, here are actual food's facts:</p>
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="#">{{ a.Food }}</a>
                  <small class="text-muted">{{ a.SubCategory }}</small>
                </div>
                <h2><a class="article-title" href="#">Calories: {{ a.Calories }}</a></h2>
                <p class="article-content">{{ a.Ingredients }}</p>
              </div>
            </article>
        {% endfor %}
    {% endif %}

    <hr>
    <h3>Check out more delicious treats...</h3>
    {% for food in foods %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ food.Food }}</a>
              <small class="text-muted">{{ food.SubCategory }}</small>
            </div>
            <h2><a class="article-title" href="#">Calories: {{ food.Calories }}</a></h2>
            <p class="article-content">{{ food.Ingredients }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}